body{
    margin: 0;
}

header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    height: 170px;
}

.logo{
    width: 200px;
    height: 200px;
    padding-top: 100px;
    padding-left: 200px;
    }

main,footer{
  padding-left: 200px;
}

.title{
    font-size: 40px;
    width: 1000px;
    margin-bottom: 0;
}    

.subtitle{
   color: grey;
   margin-top: 5px;
   margin-bottom: 0px;
}

.blue{
    color: #2faee6;
}

h4{
    color: grey;
    margin-top: 0px;
}

.articolo{
    width: 1000px;
}

ul{
    padding-top: 15px;
    padding-left: 15px;
}

.tabella{
    background-color: #20a9e5;
    color: white
}

.tabella-2, .tabella-3{
    background-color: #b1e5f2;
}

h3{
    color: grey;
}

.monitor{
    background-image: url("../img/monitor.jpg");
    width: 300px;
    height: 200px;
    font-size: 30px;
    color:white ;

}

.graph{
    background-image: url("../img/graph.jpg");
    width: 300px;
    height: 200px;
    margin-top: 15px;
    font-size: 30px;
    color:white ;
}